header{
    background-color: #EAA221;
    color: white;
    padding: 20px;
    display: flex;
    width: 100%;
}

.header-content{
    display: flex;
    width: 100%;
}

.title-section{
    text-align: center;
    flex-grow: 1;
    margin-left: 375px;
}

.button-section{
    display: flex;
}

h1{
    font-size: 2rem;
    margin: 0;
}

p{
    font-size: 1rem;
}
button{
    background-color: #fff;
    color: #EAA221;
    border: none;
    padding: 8px 16px;
    margin-left: 10px;
    cursor: pointer;
    font-size: 1rem;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

button:hover{
    background-color: #ddd;
}

h1{
    margin: 0;
    font-size: 1rem;
}